<!DOCTYPE html>
<html>
  <head>
    <title>CSS</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
  </head>
  <body>
    <script src="/jquery/jquery.js"></script>
    <script language="javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <div class="container-fluid container-set">
      <div class="row">
        <div class="col-1 left-bar">
          <img src="/public/images/logo.svg" alt="logo">
        </div>
        <div class="col-2 col-preset">
          <i class="fa fa-bars icon-size"></i>
          <span class="ml-2 title">MDM</span>
        </div>
        <div class="col align-content">
          <span class="ml-3">
            <span class="notification-image">
              <img src="/public/images/user_icon.svg" alt="profile image" class="profile-image">
              <span class="number-position">
                <div class="number-notification">
                    <div class="number"> 999 </div>
                </div>
              </span>
            </span>
          </span>
          <span class="ml-5">
            <img src="/public/images/user_icon.svg" alt="profile image" class="profile-image">
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-1 left-bottom-bar">
        </div>
        <div class="col content-background">
          <div class="row m-5 inner-block-property">
            <div class="col">
              <div class="row">
                <div class="col">
                 <div class="row mt-3">
                   <div class="col-2 inner-block-profile-image pr-0">
                     <img src="/public/images/user_icon.svg" alt="user icon">
                   </div>
                   <div class="col mt-3">
                     <p class="detail-margin-bottom username-font pb-0 mb-1"> Ram Rokkam[12, 123456] </p>
                     <p class="detail-margin-bottom user-details mb-2"> Admin, Acme Prints </p>
                     <p class="detail-margin-bottom user-details mb-1"> ram.rokkam@acmeprints.com </p>
                     <p class="detail-margin-bottom user-details mb-1"> 01733 45678 </p>
                   </div>
                 </div>
                </div>
                <div class="col">
                  <div class="row mt-3 right-column">
                    <div class="col">
                      <label class="active-label"> ACTIVE </label>
                      <p class="user-details">8cc9dfrt-fddt-sedr-koi9-lopi8-iopl</p>
                      <p class="user-details">1</p>
                      <p class="user-details">1</p>
                    </div>
                    <div class="col-1 pencil-align pl-0">
                      <i class="fa fa-pencil pencil-color" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
               </div>
               <hr class="hr-line">
               <div class="row">
                <div class="col-6">
                  <!--  Group 1 -->
                  <div class="row">
                    <div class="col-2"></div>
                    <div class="col-4 group-label mb-4">
                      Group 1
                    </div>
                    <div class="col-2"></div>
                    <div class="col-4 edit-align">
                      <i class="fa fa-pencil group-pencil" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="row mb-4"> <!-- repeat -->
                    <div class="col-2"></div>
                    <div class="col-4">
                      <!-- Row 1 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-4">
                      <!-- Row 2 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row mb-4"> <!-- repeat -->
                    <div class="col-2"></div>
                    <div class="col-4">
                      <!-- Row 1 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-4">
                      <!-- Row 2 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row mb-4"> <!-- repeat -->
                    <div class="col-2"></div>
                    <div class="col-4">
                      <!-- Row 1 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-4">
                      <!-- Row 2 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row mb-4"> <!-- repeat -->
                    <div class="col-2"></div>
                    <div class="col-4">
                      <!-- Row 1 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-4">
                      <!-- Row 2 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row mb-4"> <!-- repeat -->
                    <div class="col-2"></div>
                    <div class="col-4">
                      <!-- Row 1 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-4">
                      <!-- Row 2 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row mb-4"> <!-- repeat -->
                    <div class="col-2"></div>
                    <div class="col-4">
                      <!-- Row 1 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-4">
                      <!-- Row 2 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row mb-4"> <!-- repeat -->
                    <div class="col-2"></div>
                    <div class="col-4">
                      <!-- Row 1 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-4">
                      <!-- Row 2 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row mb-4"> <!-- repeat -->
                    <div class="col-2"></div>
                    <div class="col-4">
                      <!-- Row 1 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-4">
                      <!-- Row 2 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row mb-4"> <!-- repeat -->
                    <div class="col-2"></div>
                    <div class="col-4">
                      <!-- Row 1 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-4">
                      <!-- Row 2 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row mb-4"> <!-- repeat -->
                    <div class="col-2"></div>
                    <div class="col-4">
                      <!-- Row 1 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-4">
                      <!-- Row 2 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row mb-4"> <!-- repeat -->
                    <div class="col-2"></div>
                    <div class="col-4">
                      <!-- Row 1 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-4">
                      <!-- Row 2 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row mb-4"> <!-- repeat -->
                    <div class="col-2"></div>
                    <div class="col-4">
                      <!-- Row 1 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-4">
                      <!-- Row 2 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row mb-4"> <!-- repeat -->
                    <div class="col-2"></div>
                    <div class="col-4">
                      <!-- Row 1 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-4">
                      <!-- Row 2 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row mb-4"> <!-- repeat -->
                    <div class="col-2"></div>
                    <div class="col-4">
                      <!-- Row 1 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-4">
                      <!-- Row 2 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row mb-4"> <!-- repeat -->
                    <div class="col-2"></div>
                    <div class="col-4">
                      <!-- Row 1 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-4">
                      <!-- Row 2 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row mb-4"> <!-- repeat -->
                    <div class="col-2"></div>
                    <div class="col-4">
                      <!-- Row 1 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-4">
                      <!-- Row 2 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row mb-4"> <!-- repeat -->
                    <div class="col-2"></div>
                    <div class="col-4">
                      <!-- Row 1 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-4">
                      <!-- Row 2 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row mb-4"> <!-- repeat -->
                    <div class="col-2"></div>
                    <div class="col-4">
                      <!-- Row 1 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-4">
                      <!-- Row 2 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row mb-4"> <!-- repeat -->
                    <div class="col-2"></div>
                    <div class="col-4">
                      <!-- Row 1 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-4">
                      <!-- Row 2 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                </div>
                <div class="col-6">
                  <!--  Group 2 -->
                  <div class="row">
                    <div class="col-2"></div>
                    <div class="col-4 group-label mb-4">
                      Group 2
                    </div>
                    <div class="col-2"></div>
                    <div class="col-4 edit-align">
                      <i class="fa fa-pencil group-pencil" aria-hidden="true"></i>
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row mb-4"> <!-- repeat -->
                    <div class="col-2"></div>
                    <div class="col-4">
                      <!-- Row 1 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-4">
                      <!-- Row 2 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row mb-4"> <!-- repeat -->
                    <div class="col-2"></div>
                    <div class="col-4">
                      <!-- Row 1 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-4">
                      <!-- Row 2 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row mb-4"> <!-- repeat -->
                    <div class="col-2"></div>
                    <div class="col-4">
                      <!-- Row 1 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-4">
                      <!-- Row 2 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row mb-4"> <!-- repeat -->
                    <div class="col-2"></div>
                    <div class="col-4">
                      <!-- Row 1 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-4">
                      <!-- Row 2 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row mb-4"> <!-- repeat -->
                    <div class="col-2"></div>
                    <div class="col-4">
                      <!-- Row 1 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-4">
                      <!-- Row 2 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row mb-4"> <!-- repeat -->
                    <div class="col-2"></div>
                    <div class="col-4">
                      <!-- Row 1 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-4">
                      <!-- Row 2 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row mb-4"> <!-- repeat -->
                    <div class="col-2"></div>
                    <div class="col-4">
                      <!-- Row 1 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-4">
                      <!-- Row 2 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row mb-4"> <!-- repeat -->
                    <div class="col-2"></div>
                    <div class="col-4">
                      <!-- Row 1 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-4">
                      <!-- Row 2 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row mb-4"> <!-- repeat -->
                    <div class="col-2"></div>
                    <div class="col-4">
                      <!-- Row 1 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-4">
                      <!-- Row 2 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row mb-4"> <!-- repeat -->
                    <div class="col-2"></div>
                    <div class="col-4">
                      <!-- Row 1 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-4">
                      <!-- Row 2 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row mb-4"> <!-- repeat -->
                    <div class="col-2"></div>
                    <div class="col-4">
                      <!-- Row 1 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-4">
                      <!-- Row 2 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row mb-4"> <!-- repeat -->
                    <div class="col-2"></div>
                    <div class="col-4">
                      <!-- Row 1 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-4">
                      <!-- Row 2 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row mb-4"> <!-- repeat -->
                    <div class="col-2"></div>
                    <div class="col-4">
                      <!-- Row 1 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-4">
                      <!-- Row 2 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row mb-4"> <!-- repeat -->
                    <div class="col-2"></div>
                    <div class="col-4">
                      <!-- Row 1 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-4">
                      <!-- Row 2 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row mb-4"> <!-- repeat -->
                    <div class="col-2"></div>
                    <div class="col-4">
                      <!-- Row 1 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-4">
                      <!-- Row 2 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row mb-4"> <!-- repeat -->
                    <div class="col-2"></div>
                    <div class="col-4">
                      <!-- Row 1 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-4">
                      <!-- Row 2 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row mb-4"> <!-- repeat -->
                    <div class="col-2"></div>
                    <div class="col-4">
                      <!-- Row 1 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-4">
                      <!-- Row 2 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row mb-4"> <!-- repeat -->
                    <div class="col-2"></div>
                    <div class="col-4">
                      <!-- Row 1 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-4">
                      <!-- Row 2 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row mb-4"> <!-- repeat -->
                    <div class="col-2"></div>
                    <div class="col-4">
                      <!-- Row 1 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-4">
                      <!-- Row 2 -->
                      <div class="order-label-name"> Label Name </div>
                      <div class="order-label-value"> Value appears here </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                </div>
               </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
